body {
  background-image: url(../assets/bgtexture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.location-margin{
    margin-top: 65px;
}

.location-one {
  background-image: url(../assets/CollegeSquareLocation4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 70%;
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-two {
  background-image: url(../assets/imaxcoffee.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 70%;
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-three {
  background-image: url(../assets/courtcoffee.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width:  70%;
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
    background-color: #00000096;
    color: #ffffff;
    text-align: center;
    padding: 55px;
    width: 50%;
    font-family: serif, sans-serif;
    align-items: center;
  }

  @media screen and (max-width: 900px){
    .address{
        height: 50%;
        width: 70%;
        padding: 30px;
        display: flex;
        justify-content: center;
    }
  }

  @media screen and (max-width: 730px){
    .address{
        width: 75%;
        height: 50%;
        padding: 10px
    
    }
  }

  @media screen and (max-width: 580px){
    .address{
        width: 80%;
        height: 55%;
        padding: 0px;
    }
  }

  @media screen and (max-width: 500px) {
    .location-one{
        max-width: 80%;
    }
    .location-two{
        max-width: 80%;
    }
    .location-three{
        max-width: 80%;
    }
  }

  @media screen and (max-width: 426px) {
   .address{
    width: 82.5%;
   }
  }
