/*element selector start*/

h3{
    
}

body{
    font-family: serif, sans-serif;
}

/*element selector end*/

/*class selector start*/

.h2-menu__text{
    text-decoration: underline;
    text-decoration-color: #EC221F;
    text-decoration-thickness: .25rem;
    font-style: italic;
    margin-bottom: .8rem;

    border: #544454 solid;
    border-radius: 1rem;
    border-color: black;
    
}

.menu-bg{
    background-color: #00000033;
    border-radius: 15px;
}

.additional-prices__text{
    color: #EC221F;
    text-decoration: underline;
}
/*class selector end*/

/*Media queries start*/
@media only screen and (max-width : 991px) {
    .custom-accordion{
        display:block;
        padding:10px;
        border:1px solid #544454;
        margin:5px
    }
    .custom-accordion-item{
        display: none;
    }
    .custom-accordion-header{
        display:block;
        padding:10px;
        border:1px solid #544454;
        margin:5px
    }


    .desktop-version{
        display:none
    }
    .mobile-version {
        display: contents;
    }
}
@media only screen and (min-width : 992px) {
    .mobile-version{
        display: none;
    }
}
/*media queries end*/